@import "./theme.scss";
@import "./list-editor.scss";
@import "./toolbar.scss";
@import "./section/text.scss";
@import "./section/title.scss";
@import "./section/image.scss";
@import "./section/video.scss";
@import "./section/image-with-text.scss";
@import "./section/image-grid.scss";
* {
  padding: 0;
  margin: 0;
}
.emily-tpl-editor {
  width: 100%;
  overflow: hidden;
  &-wrap {
    background: $theme-main-color;
    padding: 15px;
  }
  &-section-item {
    position: relative;
    display: flex;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 20px;
    width: 100%;
    min-height: 120px;
    box-shadow: 1px 1px 2px 2px rgba($color: #bbb, $alpha: 0.3);
    border-radius: 10px;
    &.focus {
      border: 1px solid $theme-blue;
      box-shadow: 1px 1px 2px 2px #cbe6ff;
      flex: 1;
      .emily-tpl-editor-section-tool-bar {
        display: flex;
      }
    }
    &.set {
      .emily-tpl-editor-section-form {
        display: none;
      }
      .emily-tpl-editor-section-container {
        display: flex;
        .emily-tpl-section-wrap {
          flex: 1;
          flex-wrap: wrap;
          position: relative;
          padding: 20px 20px 20px 180px;
          overflow: hidden;
          .section-side-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 150px;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: $theme-blue;
            border-radius: 10px 0 0 10px;
            justify-content: center;
            align-items: center;
            color: #fff;
            .section-type {
              background: rgba(255, 255, 255, 0.2);
              border-radius: 5px;
              padding: 0 5px;
              margin-top: 10px;
              font-size: 14px;
            }
          }
          .list-wrap {
            flex: 1;
          }
        }
      }

      .tool-btn.copy {
        display: flex !important;
      }
    }
    .emily-tpl-editor-section-form {
      flex: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .flex-item {
        label {
          font-size: 14px;
          color: #666;
        }
      }
    }
    .emily-tpl-editor-section-container {
      display: none;
      flex: 1;
    }
  }
}
.emily-tpl-input {
  padding: 5px 11px;
  width: 200px;
  height: 30px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  outline: none;
  border-radius: 4px;
  transition: all 0.3s;
  &:hover {
    border: 1px solid $theme-blue;
  }
  &:focus {
    border: 1px solid $theme-blue;
    box-shadow: 0 0 2px 2px #cbe6ff;
  }
  &::-webkit-input-placeholder {
    color: #ccc;
  }
  &.textarea {
    height: 50px;
    min-height: 32px;
  }
}
.emily-tpl-select {
  @extend .emily-tpl-input;
  height: 30px;
  cursor: pointer;
}
.emily-tpl-btn {
  min-width: 80px;
  height: 30px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;

  &.normal {
    background: $theme-blue;
    &:hover {
      background: $theme-blue-light;
    }
  }
}

.w-50 {
  width: 50px;
}
.w-100 {
  width: 100px;
}
.w-200 {
  width: 200px;
}
li {
  list-style: none;
}
