.emily-tpl-editor-section-tool-bar {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 24px;
    background-color: $theme-blue;
    overflow: hidden;
    z-index: 999;
    &.top {
        top: -12px;
    }
    &.bottom {
        bottom: -12px;
    }
    li.tool-btn {
        flex: 1;
        width: 30px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        cursor: pointer;
        &:hover {
            background: $theme-blue-light;
        }
        .icon {
            width: 18px;
            height: 18px;
        }
        &.add {
            .icon {
                background: url("../icons/add.svg");
                background-size: 100% 100%;
            }
        }
        &.copy {
            display: none;
            .icon {
                transform: scale(0.8);
                background: url("../icons/copy.svg");
                background-size: 100% 100%;
            }
        }
        &.delete {
            .icon {
                background: url("../icons/delete.svg");
                background-size: 100% 100%;
            }
        }
    }
}
