@import "../theme.scss";
video {
    background: #000;
}
.video-item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .emily-tpl-input {
        flex: 1;
        margin-right: 40px;
    }
    .emily-tpl-video {
        width: 150px;
    }
}
